
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto+Mono&family=Roboto:wght@500&display=swap');
@font-face {
    font-family: 'Medium';
    src: url("./../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Semibold';
    src: url("./../fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Regular';
    src: url("./../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}